*
{
    padding: 0;
    margin: 0;
}
.main_div
{
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.heading
{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}
.main_display
{   margin-top: 30px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
#country
{
    border-radius: 10px;
    padding:15px;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
.ccode
{
    padding: 5px 0;
}
#welcome
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.hehe
{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
}
