*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_div
{
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    background-size: cover;
}
.logo img
{
    height: 150px;
    margin-left: -10px;
}
.lef h3
{   
    margin-top: 380px;
    font-weight: 800;
    font-size: 20px;
    text-transform: capitalize;
    color: cadetblue;
    margin-left: 30px;

}
.lef h1
{
    font-weight: 700;
    font-size: 30px;
    text-transform: capitalize;
    color: darkgrey;
    margin-left: 30px;
}
 .rght
{
    animation-name: cod;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    animation-direction: alternate;
    margin-left: 400px;
} 
@keyframes cod
{   
    0% {background-color:none; left:0px; top:0px;transform:rotate(0deg);}
    50% {background-color:none; left:0px; top:100px;}
    100% {background-color: none; left:0px ;top:0px;transform: rotate(360deg);}
}
@media screen and (max-width: 986px) {
    .rght {
        display: none !important;
    }
}
@media screen and (max-width: 986px) {
    .lef h3 {
        margin-top: 330px !important;
    }
}